.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule("MechJeb") }}
{% import domain.macros as macros with context %}

AscentAutopilot
===============

{{ macros.class(services["MechJeb"].classes["AscentAutopilot"]) }}
{{ macros.enumeration(services["MechJeb"].enumerations["AscentLaunchMode"]) }}

AscentClassic
-------------

{{ macros.class(services["MechJeb"].classes["AscentClassic"]) }}

AscentGT
--------

{{ macros.class(services["MechJeb"].classes["AscentGT"]) }}

AscentPVG
---------

{{ macros.class(services["MechJeb"].classes["AscentPVG"]) }}
