.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}

{% set languages = {"c": "C-nano", "cpp": "C++", "csharp": "C#", "java": "Java", "lua": "Lua", "py": "Python"} %}

{{ languages[domain.sphinxname] }}
==================================

**Note:** Credit goes to `MechJeb2 wiki <https://github.com/MuMech/MechJeb2/wiki/>`_ for most of the method description.

.. toctree::
   mechjeb

Autopilots
----------

.. toctree::
   airplane-autopilot
   ascent-autopilot
   docking-autopilot
   landing-autopilot
   rendezvous-autopilot

Windows
-------

.. toctree::
   maneuver-planner
   smart-ass
   smart-rcs
   translatron

Controllers
-----------

.. toctree::
   node-executor
   rcs-controller
   staging-controller
   target-controller
   thrust-controller
