.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule('MechJeb') }}
{% import domain.macros as macros with context %}

MechJeb service
===============

{{ macros.service(services['MechJeb']) }}
{{ macros.exception(services['MechJeb'].exceptions['MJServiceException']) }}
