.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule("MechJeb") }}
{% import domain.macros as macros with context %}

RCSController
=============

{{ macros.class(services["MechJeb"].classes["RCSController"]) }}
