.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule("MechJeb") }}
{% import domain.macros as macros with context %}

StagingController
=================

{{ macros.class(services["MechJeb"].classes["StagingController"]) }}
