.. default-domain:: {{ domain.sphinxname }}
.. highlight:: {{ domain.highlight }}
{{ domain.currentmodule("MechJeb") }}
{% import domain.macros as macros with context %}

ThrustController
================

{{ macros.class(services["MechJeb"].classes["ThrustController"]) }}
{{ macros.enumeration(services["MechJeb"].enumerations["DifferentialThrottleStatus"]) }}
